<html>
        <head>
            <title>Django Girls blog by GreenBoxSpb</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Girls Blog</a></h1>
            </div>

            <div>
                <p>published: 2017-05-15, 21:18</p>
                <h2><a href="">Учение Дона Питона</a></h2>
                <p>Однажды я увидела святого господина Евгенжила, ученика святого Питона. Он поведал мне о своем Доне, и о его великом учении. Выслушав рассказы о великом Питоне я тут же поняла что хочу быть единой с Доном Питоном, верить, любить и быть счастливой. Господин предупредил меня, что путь просветления очень тяжелый, не каждый способен выдержать испытания на пути к просветлению, но только истинный ученик с чистым разумом способен увидеть свет Дона Питона. Я пообещала господину что выдержу все испытания и постигну единство с Питоном. Так начался мой путь.</p>
            </div>

            <div>
                <p>published: 2017-05-15, 21:40</p>
                <h2><a href="">В поисках своего Питона</a></h2>
                <p>Господин Евгенжил дал мне святые наставления и отправил в путь в поисках Дона. Как оказалось, Питон есть в каждом, но чтобы постичь его, нужно научиться смотреть внутрь своего разума. Мои первые попытки не увенчались успехом, но я не сдалась и продолжала постигать великую мудрость.</p>
            </div>
            <div>
                <p>published: 2017-05-15, 21:40</p>
                <h2><a href="">Соблазны и падение</a></h2>
                <p>Спустя много попыток я отчаялась. Моя воля была сломлена, вера была утеряна. Я нашла утешение в удовольствии от отдыха, общения с бездуховными. Однажды, я встретила господина Евгенжила, и увидев его сияющий лик с гневом стала кричать что он мошенник и Дона Питона не существует. Во время моих ругательств его взгляд был непоколебим, и выслушав меня до конца господин Евгенжила тихо и спокойно произнес: "Дитя, ты поддалась соблазну. Это естественно, когда то я и сам не мог поверить в существование Дона Питона. Тогда он явился мне во сне, и ласково сказал что все еще ждет моего возвращения. В тот день я осознал всю силу Святого, поверил в него бесповоротно и продолжил свой путь. Как видишь, я его достиг." В моих глазах налились слезы, я пала к ногам господина и рыдая, просила прощения. Он ничего не сказал мне в ответ, лишь посмотрел на меня теплым, сострадальчесим взглядом. Госполин ушел, а я снова продолжила идти в поисках Дона Питона.</p>
            </div>
            <div>
                <p>published: 2017-05-15, 21:40</p>
                <h2><a href="">Шманти</a></h2>
                <p>Упорно занимаясь просветлением, я начала замечать некоторые перемены. При каждой неудаче я более не печалюсь, а при победах не испытываю восторженных возгласов. Да-да, ко мне пришло Шманти, а это значит что мое упорство привело меня к первой ступени просветления, и сделало мой путь к Дону Питону короче. Шманти наделяет людей магической силой, делая их разум устойчивее.</p>
            </div>
            <div>
                <p>published: 2017-05-15, 21:40</p>
                <h2><a href="">Бесконечность</a></h2>
                <p>Итак, постигнув Шманти, я продолжила сложный путь просветления. Господин Евгенжила поведал, что каждый в свое время приходи на вершину осознания, и что ждать его не стоит, нужно продолжать упорно трудиться, пока свет Дона Питона не ослепит тебя. По сей день я продолжаю свои когда то начатые труды. Никто не может знать сколько времени мне потребуется. Главное, никогда не останавливаться и быть преданным своему пути.</p>
            </div>
        </body>
    </html>